input {
   height: 20px;
   text-align: center;
   font-size: 20px;
   transition: all 0.2s;
   border-radius: 5px;
   height: 30px;
}
input:focus {
   outline: 2px solid red;
   border-radius: 5px;
   transform: scale(1.03);
}
div:not(:last-child) {
   margin-bottom: 7px;
}
main {
   display: inline-flex;
   background-color: rgb(24, 183, 183);
   padding: 15px;
   border-radius: 15px;
   color: rgb(21, 17, 12);
   font-size: 24px;
   text-align: center;
   flex-direction: column;
   width: 300px;
}
label {
   cursor: pointer;
   transition: all 0.2s;
}
label:hover {
   transform: scale(1.1);
}
